<!DOCTYPE html>
<html>
  <head>
    <title>Counter Example</title>
  </head>
  <body>

    <p>Simple Counter Total: {{ simple_total }}</p>

    <form action="" method="post">
      <p><input type="hidden" name="counter" value="simple" /></p>
      <p><input type="submit" value="Increment Simple" /></p>
    </form>

    <p>General Counter Total: {{ general_total }}</p>

    <form action="" method="post">
      <p><input type="hidden" name="counter" value="general" /></p>
      <p><input type="submit" value="Increment General" /></p>
    </form>

  </body>
</html>
